body {
  background-color: #FFFFFF;
  color: #626F78;
  font-size: 16px;
  font-family: helvetica;
  line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: navy;
  text-decoration: none;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 21px;
}

p.author {
  font-size: 14px;
}

figcaption {
  font-size: 13px;
}
